@model IEnumerable<EEAFormI9Portal.EF.AspNetUser>

@{
    ViewBag.Title = "User Details";
}

<script>

    $(document).ready(function () {
        //alert('hi');

        $.get('/User/GetUserDetails', {}, function (userdata) {
            console.log(userdata);


            $('#userDetailsTable').dataTable({
                data: userdata,
                aoColumns: [
                    { mData: "Email" },
                    { mData: "PhoneNumber" },
                    { mData: "UserName" }
                    //{
                    //    mData: null,
                    //    bSortable: false,
                    //    mRender: function (o) { return '<i class="ui-tooltip fa fa-pencil" style="font-size: 22px;" data-original-title="Edit"></i><i class="ui-tooltip fa fa-trash-o" style="font-size: 22px;" data-original-title="Delete"></i>'; }
                    //}

                ]

            });
        });
    });

    $("#btndelete").click(function () {
        @*var id = '@Request.QueryString["id"]';*@

        var id = '1c04b049-854b-4355-94f2-3efe4f74dc3b';
        $.post("/User/DeleteUser", {
            Id: id
        },
        function () {
            //alert("Updated");
        })
    });

</script>



<div class="container-fluid">
    <h2>Employee details</h2>
    <table class="table table-responsive table-hover" id="userDetailsTable">
        <thead>
            <tr>
                <th data-field="email">Email</th>
                <th data-field="phonenumber">Phone Number</th>
                @*<th data-field="lockoutenabled">Lockout Enabled</th>*@
                @*<th data-field="accessfailedcount">Access Failed Count</th>*@
                <th data-field="username">User Name</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>

@*<tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LockoutEnabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessFailedCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }*@

